[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/yAnnapoorna
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/yAnnapoorna
	label-Verified = -1..+1 group user/yAnnapoorna
	push = group user/yAnnapoorna
	read = group user/yAnnapoorna
	rebase = group user/yAnnapoorna
	removeReviewer = group user/yAnnapoorna
	submit = group user/yAnnapoorna
[access "refs/heads/*"]
	create = group user/yAnnapoorna
	push = +force group user/yAnnapoorna
	pushMerge = group user/yAnnapoorna
	read = group user/yAnnapoorna
[access "refs/tags/*"]
	push = group user/yAnnapoorna
	push = +force group user/yAnnapoorna
